# ==========================================
# Python / Entornos Virtuales
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
.pytest_cache/

# ==========================================
# Infraestructura y Base de Datos (Docker)
# ==========================================
.data/
postgres_data/

# ==========================================
# Datos Crudos e Intermedios (Locales)
# ==========================================
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
logs/

# ==========================================
# Reportes, Gráficos y Resultados
# ==========================================
# Ignoramos los archivos generados pero MANTENEMOS las carpetas en GitHub
reports/figures/static/*
reports/figures/dynamic/*
reports/figures/models/*
reports/raw_results/*
reports/results_metrics.csv

# Excepciones para asegurar que GitHub cree las carpetas vacías
!reports/figures/static/.gitkeep
!reports/figures/dynamic/.gitkeep
!reports/figures/models/.gitkeep
!reports/raw_results/.gitkeep

# ==========================================
# Modelos Entrenados Binarios
# ==========================================
models/*.joblib
models/comparativa_*.png

# ==========================================
# Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db