# Datos y resultados (pesados o temporales)
data/raw/
data/processed/
reports/
logs/

# Python/Docker
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
.pytest_cache/

# Base de datos persistida por Docker
.data/
postgres_data/

# Sistema
.DS_Store
Thumbs.db

# Ignorar los gráficos generados para no pisarse entre corridas
reports/figures/static/*.png
reports/figures/dynamic/*.png
reports/figures/models/*.png

# Modelos entrenados pesados (binarios)
models/*.joblib